@import "tailwindcss";

/* Hiding scrollbar */

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari */
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* for IE and Edge */
  scrollbar-width: none;     /* for Firefox */
}

